h1{
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
}
.divisores {
    background-color: beige; 

}
#manzana{
    margin: 0 auto;
    height: 20%;
    width: 40%;
    border: 2px #faebd7;
    margin-left: 0%;
    margin-bottom: 0%;
    background-color: antiquewhite;
    position: relative;
}
a { color: black;
    text-decoration: none;
}
a:hover{
    zoom: 150%;
    color: rgb(197, 80, 125);}
    
    img{
        max-width: 100% ;
        max-width: 100% ;
       
       
        
    }
    .foto{
        max-width: 150px;
        max-height: 150px;
        position: relative;
        margin-left: 0%;
        
        
    }
    
